<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <input type="text" name="username" class="form-control" [(ngModel)]="model.username" placeholder="User Name">    
  </div>
  <div class="mb-3">
    <input type="password" name="password" class="form-control" [(ngModel)]="model.password" placeholder="Password">
  </div>
  <div class="mb-3">
    <input type="email" name="email" class="form-control" [(ngModel)]="model.email" placeholder="Email">
  </div>
  <div class="mb-3">
    <input type="text" name="doj" class="form-control" [(ngModel)]="model.doj" placeholder="Date Of Joining (YYYY-MM-DD)">
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-info" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>